# Eclipse 프로젝트 설정 파일
.classpath
.project
.settings/

# Tomcat 및 WAS 관련 파일
/build/
/target/
.metadata/
*.class

# 컴파일된 JSP 파일
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/web.xml

# IDE (IntelliJ IDEA 등) 및 운영체제 관련 파일
.idea/
*.iml
.DS_Store
Thumbs.db
