/* 푸터 CSS */
footer {
    width: 100%;
    height: auto;
    background-color: #19202D;
    padding: 20px 0; /* 상하 패딩 추가 */
}

footer > .footer > span {
    font-size: 10px;
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    color: white; 
    /*display: block; /*지워도 될듯*/
}