<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- 기본 스타일 초기화 및 폰트 설정  -->
    <link rel="stylesheet" href="../css/common/common.css">
    <!-- 회원가입 페이지 CSS 설정 -->
    <link rel="stylesheet" href="../css/member/signup.css">
</head>
<body>
    <div class="form-wrapper">
        <div class="signup-form-container">
            <div class="form-header">
                <h1>회원가입</h1>
                <p>반갑습니다 그린대학교입니다. 회원가입 후 더 많은 정보를 이용하세요.</p>
                <p>대학구성원(학생, 교직원)은 회원가입 없이 학번, 교번(사번) 아이디를 사용하여 로그인할 수 있습니다.</p>
            </div>

            <div class="form-fields">
                <div class="form-row">
                    <div class="form-label"><label for="user-id">아이디<span class="required">*</span></label></div>
                    <div class="form-input">
                        <input type="text" id="user-id" class="text-input" placeholder="아이디 입력">
                        <span>영문·숫자 조합 4~10자 이내</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label"><label for="user-password">비밀번호<span class="required">*</span></label></div>
                    <div class="form-input">
                        <input type="password" id="user-password" class="text-input" placeholder="비밀번호 입력">
                        <span>비밀번호는 8-16자리 이내, 영문·숫자·특수문자 조합</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label"><label for="user-password-confirm">비밀번호 확인<span class="required">*</span></label></div>
                    <div class="form-input">
                        <input type="password" id="user-password-confirm" class="text-input" placeholder="비밀번호 확인 입력">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label"><label for="user-name">이름<span class="required">*</span></label></div>
                    <div class="form-input">
                        <input type="text" id="user-name" class="text-input" placeholder="이름 입력">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label"><label for="user-phone">휴대폰<span class="required">*</span></label></div>
                    <div class="form-input">
                        <input type="text" id="user-phone" class="text-input" placeholder="휴대폰 입력">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label"><label for="user-email">이메일<span class="required">*</span></label></div>
                    <div class="form-input">
                        <input type="email" id="user-email" class="text-input" placeholder="이메일 입력">
                    </div>
                </div>
                <div class="form-row address-row">
                    <div class="form-label"><label>주소</label></div>
                    <div class="form-input">
                        <div class="address-input-group">
                            <input type="text" class="text-input" placeholder="우편번호 선택">
                            <button type="button">우편번호 선택</button>
                        </div>
                        <input type="text" class="text-input" placeholder="기본주소 선택">
                        <input type="text" class="text-input" placeholder="상세주소 입력">
                    </div>
                </div>
            </div>

            <div class="required-info">
                <span class="required">*</span> 필수입력
            </div>

            <div class="form-actions">
                <button type="button" class="cancel-btn">취소</button>
                <button type="submit" class="signup-btn">회원가입</button>
            </div>
        </div>
    </div>
</body>
</html>