 /* 리스트 스타일 */
 
body {
margin : 0;
padding : 0;
}
 
 
 
 
    ul,ol{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    /* a태그 스타일 */
    a{
        text-decoration: none; color: black;
    }

    /* container 레이아웃 */
    #container {
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 100px; /*footer와 간격*/
        overflow: hidden; /* float 요소 포함 */
        display: flex;
        gap: 60px; /* 사이드바와 보드 사이 여백 */
    }
    .sidebar {
        width: 210px;
        flex-shrink: 0; /* 줄어들지 않게 */
    }


    .board {
    width: 930px;          /* 전체 영역 */

    }
    .board, .board * {
        box-sizing: border-box;
    }



    /* sidebar 윗부분 레이아웃 */
    .sidebarHeader{
        width: 210px;
        height: 54px;
        padding-top: 62px;

    }
    
    /* sidevar 제목 서식 */
    .sbTitle{
        width: 128.4px;
        height: 36px;
        margin-top: -1px;
        font: 700 32px bold;
    }

    /* sidebar 메뉴 서식 */
    .sidebarMenu{
        width: 210px;
        height: 302px;
        border-top: 2px solid black;
    }

    /* sidebar item 서식 */
    .item{
        position: relative;
        width: 210px;
        height: 60px;
        padding-top: 2px;
        border-bottom: 1px solid #dcdcdc;
        box-sizing: border-box;
        flex-direction: column;
        transform: rotate(0deg);
        opacity: 1;
        display: flex;
        
    }
    /* item 텍스트 서식 */
    .itemText{
        width: 120px;
        height: 18px;
        margin-top: 18px;
        margin-left: 20px;
        font-family: "Noto Sans KR";
        font: 350 16px light;
        text-align: left;
        line-height: 21px;
        color: #333333;
    }
 
    /* item 영역 hover 할 때 색 변경(배경+글자) */
    .item:hover a {
    color: #FFFFFF;
    }

    .item:hover {
        background-color: #3F97F6;
        border-color: #3F97F6;
    }

    /* list 서식 */
    .list {
        width: 210px;
        height: 302px;
        transform: rotate(0deg);
        opacity: 1;
        list-style: none;

        }
    
    /* board 윗부분 레이아웃 */
    .boardUpper{
    width: 100%;
    height: 56px;
    margin-top: 62px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    }

    /* board 제목 서식 */
    .buText{
        width: 160.36px;
        height: 30px;
        margin-top: 7px;
        font-family: "Noto Sans KR";
        font: 700 26px bold;
        line-height: 44px;
        text-align: left;
    }

    /* board 본문 레이아웃 */
    .boardLower {
    width: 100%;
    display: block;
    }

    
    /* board 본문 서식 */
    .blText{
        width: 125.33px;
        height: 18px;
        font-family: "Noto Sans KR";
        font: 350 16px light;
        line-height: 100%;
        text-align: center;
    }

    /*========== 상단 바  ==========*/
    /* 상단바 전체 */
    .top-bar {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: rgba(236,242,246,1);
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
        position: relative; 
    }

    .top-bar-content {
    width: 1200px;       /* 고정 폭 */
    display: flex;
    justify-content: flex-end;
    gap: 14.6px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;      /* 좌우 중앙 정렬 */
    }

    /* 상단바 텍스트 */
    .sidebar-text {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 350;
        font-style: DemiLight;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
        vertical-align: middle;
        text-decoration: none;
        color: #000;
    }