<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 학과 목록</title>
    
    <!-- CSS파일 연결-->
    <link rel="stylesheet" href="/css/manage/Manage_Header.css">
    <link rel="stylesheet" href="/css/manage/Manage_Main.css">
    <link rel="stylesheet" href="/css/manage/Manage_Footer.css">
    
    <!-- 헤더 HTML-->
    <div class="nav">
        <div class="navItem">
            <div><a href="/manage/main.html">HOME</a></div>
            <div><a href="pass">사이트맵</a></div>
            <div><a href="#">로그아웃</a></div>
        </div>
    </div>
    <div class="header_bar">
        <article>
            <a href="#"><img src="/images/admin_logo.png" alt="학사관리 시스템"></a>
        </article>
    </div>
</head>


<body>
    <main>
        <!-- ■■■ 사이드바 시작 ■■■ -->
        <aside>
        <div>
            <h4><img src="/images/ico-admin-setting.png" alt="setting">환경설정</h4>
            <a href="pass">· 기본환경정보</a><br>
            <a href="pass">· 약관관리</a>
        </div>
        <div>
            <h4><img src="/images/ico-admin-academic.png" alt="academic">학사운영</h4>
            <a href="./학사운영/교육운영현황.html">· 교육 운영 현황</a><br>
            <a href="pass">· 학년별 학생 현황</a><br>
            <a href="pass">· 학과별 학생 현황</a><br>
            <a href="./학사운영/강의목록.html">· 강의 목록</a><br>
            <a href="">· 강의 등록</a><br>
            <a href="./학사운영/수강현황.html">· 수강 현황</a>
        </div>
        <div>
            <h4><img src="/images/ico-admin-persons.png" alt="persons">인사관리</h4>
            <a href="">· 학생 목록 및 등록</a><br>
            <a href="">· 교수 목록 및 등록</a><br>
            <a href="">· 임직원 목록 및 등록</a>
        </div>
        <div>
            <h4><img src="/images/ico-admin-college.png" alt="college">대학 및 학과</h4>
            <a href="">· 대학 및 학과 목록</a><br>
            <a href="">· 대학 및 학과 등록</a>
        </div>
        <div>
            <h4><img src="/images/ico-admin-board.png" alt="board">게시판관리</h4>
            <a href="pass">· 입학안내 공지사항</a><br>
            <a href="pass">· 학사안내 공지사항</a><br>
            <a href="pass">· 커뮤니티 공지사항</a><br>
            <a href="pass">· 입학상담</a><br>
            <a href="pass">· 질문 및 답변</a><br>
            <a href="pass">· 식단안내</a><br>
            <a href="pass">· 자료실</a>
        </div>
        </aside> 
        <!-- □□□ 사이드바 끝 □□□ -->

        <!-- ■■■ 메인컨텐츠 시작■■■-->
        <div class="managemain">
            <!-- 컨텐츠_최상단 -->
            <article class="top">
                <h4>학과 목록</h4>
                    <div class="breadcrumb">
                        <span>대학 및 학과</span>
                        <span class="end">학과 목록</span>
                    </div>
            </article>

            <div class="NONE_con_1f">
                <!-- 검색창 -->
                <div class="search">
                    <div class="input-container">
                        <input type="text" class="search-condition" placeholder="검색조건">
                    </div>
                    <div class="input-container">
                        <input type="text" class="search-input" placeholder="키워드 입력">
                    </div>
                    <div class="searchbtn">
                        <a href="#">검색</a>
                    </div>
                </div>

                <!-- 테이블 -->
                <table>
                    <tr>
                        <th>학과번호</th>
                        <th>단과대학</th>
                        <th>학과</th>
                        <th>학과장</th>
                        <th>학과 연락처</th>
                        <th>소속 교수 수</th>
                        <th>소속 학생 수</th>
                        <th>개설 강의 수</th>
                    </tr>
                
                    <tr>
                        <td>10</td>
                        <td>인문사회대학</td>
                        <td>국문학과</td>
                        <td>김국어</td>
                        <td>051-512-1010</td>
                        <td>23</td>
                        <td>322</td>
                        <td>42</td>
                    </tr>
                </table>
                    
                <!-- 하단 페이지네이션(Pagination)-->
                <article class="pagebtn">
                    <a href="#"><img src="/images/btn-first-page.png" alt="Go to First"></a>
                    <a href="#" class="pagebtn_R"><img src="/images/btn-prev-page.png" alt="Previous"></a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="pagebtn_L"><img src="/images/btn-next-page.png" alt="Next"></a>
                    <a href="#"><img src="/images/btn-last-page.png" alt="Go to Last"></a>
                </article>
            </div> 
        </div>
        <!-- □□□ 메인컨텐츠 끝  □□□-->
        
    </main>


    <!-- 푸터 -->
    <footer>
        <div class="footer">
            <span>Copyright ©Green University All rights reserved.ADMINISTRATOR Version 1.4.1</span>
        </div>
    </footer>
</body>




</html>